 <app-navbar></app-navbar>
<div class="container">
 
  <div class="row">
    <div class="col-xs-12">
      
      <h1 class="title" style="color: red;">{{title}}</h1>
    
      <h2>Hi there,</h2>
      <h3>Welcom to my random picker app !</h3>
      <p>To pick a choice , type in a task and click enter to make a multiple choice list</p>
      <p> Click Random Picker to select randomly from multiple task or choices</p>
      <input type="text" placeholder="Enter new task    " #task /><button class="btn btn-primary" (click)="addTask(task.value)" >Enter</button>
      <br>
      <br>
      <button (click)="random()" class="btn btn-danger">Random Picker</button>
      <div class="row">
      <ul *ngFor="let item of list">
        <li>{{item.name}}        <button (click)="clear(item.id)">delete</button></li>
      </ul>
    </div>
      
    </div>


  </div>
</div>

